<!DOCTYPE html>
<html>
  <head>
    <title>RailsWikinimous</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300|Roboto+Slab">
  <meta name="csrf-param" content="authenticity_token">
<meta name="csrf-token" content="lJHTYajP7VY/ZQ71/7YkfwvkDOCAb3ai9ELSeWThCnDj71wxThfj+W/UqkWk8ZpmM7WsfaclPMLkSJt4NFtpjQ==">
</head>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
